# Fitting the Sklearn Model

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm 
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

In [251]:
df = pd.read_csv("/Users/mdbarshay/Desktop/401/Project 3/final.csv", index_col=0)
df = df.sample(frac = 1)
X = df.iloc[:, :-1]
y_per100k = df.iloc[:, -1] / 100000

In [222]:
lm = linear_model.LinearRegression()
model = lm.fit(X,y_per100k)

In [223]:
min(y_per100k)

1.0

In [224]:
df_subset = df.iloc[:150,]

In [225]:
X_sub = df_subset.iloc[:, :-1]
y_per100k_sub = df_subset.iloc[:,-1] / 100000

In [226]:
lm = linear_model.LinearRegression()
model = lm.fit(X_sub,y_per100k_sub)

In [227]:
model.coef_

array([ 2.11228880e+01,  1.57508612e-01,  8.35762943e-01, -4.88400479e-01,
        5.36411465e-01, -2.30547099e+00,  1.90961142e+01,  9.47139541e-01,
       -2.80994559e+01,  1.25581918e+01,  1.87803459e-05,  2.52437165e+00,
        3.48817758e-06, -1.85772758e+00,  4.02837486e-01,  1.16176233e-01,
       -4.58315431e-01, -3.27069951e+00,  1.44223596e+00, -6.96937173e-01,
       -6.45783597e-01,  3.93334766e+00,  1.53126176e+00,  4.12348043e-05,
        7.00784897e-01,  2.75249726e-05, -6.74184644e-01, -2.22370196e+00,
       -2.73018233e+00,  5.14218550e-05, -1.17170431e+00, -3.46612819e+00,
       -8.29550144e-02, -7.07316471e+00,  1.99007431e-01,  8.59604618e-01,
        7.09270985e-01, -3.95115577e+00,  7.62507393e+00, -2.56778664e+00,
        2.42073668e+00, -5.06469373e+00,  1.38910154e-01, -2.54263606e+00,
       -1.40824768e-04, -4.68613811e-01,  4.40880573e+00,  3.56017579e+00,
       -3.94173541e+00, -1.55077092e+00])

# Running Some Tests

In [228]:
from sklearn.model_selection import train_test_split

In [252]:
X_train, X_test, y_train, y_test = train_test_split(
       X, y_per100k, test_size=0.2, random_state = 8)

In [253]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

In [254]:
preds = model.predict(X_test)

In [255]:
mean_squared_error(y_test, preds)

1482.684556745937

In [256]:
preds = model.predict(X_train)

In [257]:
mean_squared_error(y_train, preds)

1444.006045608223

# Validating the Model

In [258]:
res = cross_val_score(lm, X, y_per100k, scoring = "neg_mean_squared_error", cv = 7)

In [259]:
-np.mean(res)

2312.8885319680635

In [260]:
res

array([-1228.7447441 , -7929.5258192 , -1333.08858414, -1820.14171977,
       -1389.64569905, -1417.10695833, -1071.96619919])

In [261]:
max(y)

111111112

# Testing the Scaled Variables

In [15]:
scaled_X = pd.read_csv("/Users/mdbarshay/Desktop/401/Project 3/scaled_X.csv", index_col= 0)
centered_y_per100k = pd.read_csv("/Users/mdbarshay/Desktop/401/Project 3/centered_y_per100k.csv", index_col= 0)

In [16]:
scaled_X

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.066649,-0.294748,-0.023969,0.034038,0.908233,-0.278918,-0.095952,0.010379,-0.086331,-0.142546,...,-0.421705,0.330978,-0.073118,0.920580,-0.336159,-0.413811,0.077752,0.095971,-0.220041,-0.604482
1,0.015887,-0.530807,0.278735,-0.072149,0.405772,-0.784964,-0.931313,0.118907,-0.886496,-0.826644,...,0.063018,-0.619798,-0.004582,-0.279008,-0.126632,1.633916,0.950831,-1.183867,-0.220041,-0.475756
2,-0.078184,-0.294748,0.300357,-0.019056,0.196414,-0.754744,-0.866170,-0.206677,-0.840674,-0.836319,...,-0.227816,-0.090003,-0.141655,0.620683,-0.466969,0.814825,0.659805,-0.715026,-0.220041,0.356329
3,0.304145,0.911775,-0.586135,-0.125243,-0.347919,0.050350,0.450796,0.335964,0.450254,0.429337,...,-0.421705,-0.075434,-0.381534,0.020889,-0.430591,-0.618584,1.532883,1.753575,-0.220041,-0.451686
4,1.341688,0.597030,3.067943,3.007286,3.504280,-1.560529,-1.734199,1.204189,-1.644687,-1.733142,...,3.989273,-0.827526,4.107623,1.220477,3.487494,1.633916,1.241857,-0.974873,1.788239,-0.697451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30287,0.119364,-0.268519,0.667927,0.458788,0.950105,-0.566509,-0.416841,0.553020,-0.403133,-0.458131,...,-0.324760,-0.106377,-0.004582,0.020889,0.250819,-0.004266,-0.213274,-0.393092,-0.220041,-0.375178
30288,2.913248,0.833088,2.549021,3.166567,2.499359,-1.619909,-1.589070,2.832112,-1.559120,-1.598955,...,3.553022,-0.378287,2.839693,1.520374,5.537799,1.838689,-0.213274,-1.041931,1.118813,-0.519953
30289,-1.277578,-0.242290,-0.910462,-0.762368,-1.101610,0.884172,0.753476,-0.749318,0.749941,0.766156,...,-0.373233,-0.172106,-0.450070,-0.878802,-0.466969,-1.028129,-1.377378,0.575177,-0.889468,-0.391182
30290,0.119364,0.256056,0.257114,0.671163,0.615131,-0.170254,-0.265199,0.878605,-0.276349,-0.241664,...,-0.227816,-0.733661,-0.312997,2.120168,-0.341960,0.200507,0.950831,-0.530474,0.449386,-0.221256
30291,0.119364,-0.294748,0.019274,0.299507,-0.347919,-0.480603,-0.525844,0.227436,-0.500603,-0.567965,...,0.014546,-0.595702,-0.278729,0.020889,-0.466969,0.814825,-0.213274,-1.295253,0.449386,-0.659148

In [17]:
centered_y_per100k

        price_doc
0      -12.979129
1      -11.479129
2      -14.479129
3       59.520871
4       91.835391
...           ...
30287    2.520871
30288  178.520871
30289   -1.769539
30290   63.520871
30291  -15.479129

[30292 rows x 1 columns]

In [18]:
lm = linear_model.LinearRegression()
res = cross_val_score(lm, scaled_X, centered_y_per100k, scoring = "neg_mean_squared_error", cv = 5)

In [19]:
-np.mean(res)

2817.7455042858064